@use "../../assets/styles/main.scss" as css;

$fs-m: 0.6rem;
$fs-t: 1.2rem;
$fs-d: 1.4rem;

.container {
  @include css.d-flex-rel;
  align-items: center;
  cursor: pointer;
}

.active {
  background-color: var(--cl-blue);

  .text {
    color: #ffffff;
  }
}

.img {
  @include css.same-hw(max, 0.8rem);
}

@media screen and (min-width: 768px) {
  .img {
    @include css.same-hw(max, 1.3rem);
  }
}

@media screen and (min-width: 1280px) {
  .img {
    @include css.same-hw(max, 1.5rem);
  }
}
