@use "../../assets/styles/main.scss" as css;

$fs-m: 0.6rem;
$fs-t: 0.9rem;
$fs-d: 1.2rem;

.container {
  @include css.d-flex-rel;
  justify-content: flex-end;
  user-select: none;
  width: 100%;
}

.custom-select {
  @include css.d-flex-rel;
  border-color: #394a6d;
  border-style: solid;
  border-width: 0 0 2px 0;
  width: 100%;

  &:not(.open) {
    .custom-select-trigger {
      cursor: pointer;
    }
  }
}

.custom-select-trigger {
  @include css.d-flex-rel;
  align-items: center;
  border-color: #394a6d;
  color: #3b3b3b;
  gap: 0.75rem;
  padding-bottom: 0.25rem;
  justify-content: space-between;
  width: 100%;

  .title {
    font-size: $fs-m;
    white-space: nowrap;
  }
}

.custom-options {
  @include css.d-flex-abs;
  border-top: 0;
  bottom: 0;
  flex-direction: column;
  left: 0;
  opacity: 0;
  padding-top: 0.3rem;
  right: 0;
  top: 100%;
  transition: all 0.8s ease-in-out;
  visibility: hidden;
}

.custom-select.open .custom-options {
  opacity: 1;
  transition: all 1s ease-in-out;
  visibility: visible;
  z-index: 2;
}

.custom-option {
  @include css.d-flex-rel;
  @include css.space(padding, y, 0.5rem);
  background-color: #ffffff;
  color: #3b3b3b;
  cursor: pointer;
  transition: all 0.25s;
  width: 100%;

  p {
    @include css.d-flex-rel;
    align-items: center;
    font-size: $fs-m;
    width: 100%;
  }

  &:hover {
    background-color: #a2a2a2;
    color: #ffffff;
  }
}

.arrow {
  position: relative;
  @include css.same-hw(eq, 10px);

  &:before {
    left: -2px;
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  &:after {
    left: 5px;
    transform: rotate(-45deg);
    transition: all 0.5s;
  }
}

.arrow::before,
.arrow::after {
  background-color: var(--cl-blue);
  bottom: 0;
  content: "";
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  width: 0.1rem;
}

.open .arrow::before {
  left: -2px;
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  .custom-select-trigger {
    @include css.space(padding, x, 0.5rem);

    .title {
      font-size: $fs-t;
    }
  }

  .custom-option {
    @include css.space(padding, all, 0.5rem);

    p {
      font-size: $fs-t;
    }
  }
}

@media screen and (min-width: 1280px) {
  .custom-select-trigger {
    .title {
      font-size: $fs-d;
    }
  }

  .custom-option {
    height: 3rem;

    p {
      font-size: $fs-d;
    }
  }
}
