@mixin out {
  .container {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    position: relative;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }

  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
